name: Linters

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  pre_commit:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.0"
    - name: Install test dependencies
      run: |
        apt-get get update && apt-get install cmake
        python -m pip install --upgrade pip
        python -m pip install -r ci/requirements_tests.txt
    - name: Pre-commit tests
      run: |
        make run_precommit
