name: Linters

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  pre_commit:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.8.0"
    - name: Install tests dependencies
      run: |
        apt-get get update && apt-get install cmake
        python -m pip install --upgrade pip
        python -m pip install -r ci/requirements_tests.txt
    - name: Pre-commit tests
      run: |
        make run_precommit
