name: Tests


on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'


jobs:
  oml_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build OML
      run: |
        echo "a"
    - name: Tests OML
      run: |
        echo "b"
