postfix: metric_learning

seed: 42
gpus:
  - 0
  - 1

dataframe_name: df_fixed_train_fixed_val.csv
dataset_root: /nydl/data/DeepFashion_InShop/
logs_root: /nydl/logs/cur/ml/deepfashion/
logs_folder: ${now:%Y-%m-%d_%H-%M-%S}_${postfix}

im_size: 224
im_pad_ratio_train: 0.0
im_pad_ratio_val: 0.0
num_workers: 20
cache_size: 100000

sampler:
  name: SequentialDistinctCategoryBalanceSampler
  args:
    n_labels: 4
    n_instances: 6
    n_categories: 2
    epoch_size: 1992

bs_val: 96
max_epochs: 10000
valid_period: 1

metric_args:
  cmc_top_k: [1, 5]
  map_top_k: [5]

augs_key: default_albu

model:
  name: vit
  args:
    normalise_features: True
    use_multi_scale: False
    weights: pretrained_dino
    arch: vits8
    strict_load: True

criterion:
  name: TripletLossWithMiner
  args:
    need_logs: True
    margin: 0.1
    reduction: mean
    miner:
      name: TripletMinerWithMemory
      args:
        bank_size_in_batches: 20
        tri_expand_k: 2

optimizer:
  name: adam
  args:
    lr: 1e-5  # if you provide scheduler this parameter will be ignored

scheduler: null


# To use neptune you should also specify NEPTUNE_API_TOKEN in
# .env file or via `export NEPTUNE_API_TOKEN=...`
neptune_project: NEWYORKER/similarity-api


hydra_dir: ${logs_root}/${logs_folder}/

pod: pod1

tags:
  - ${postfix}
  - ${pod}
  - deepfashion

hydra:
  run:
    dir: ${hydra_dir}
  searchpath:
    - file://../../configs
