postfix: deepfashion

seed: 42
gpus:
  - 0
  - 1

dataset_root: /nydl/data/DeepFashion_InShop/
logs_root: /nydl/logs/cur/ml/deepfashion/
logs_folder: ${now:%Y-%m-%d_%H-%M-%S}_${postfix}

im_size: 224  # todo
im_pad_ratio_train: 0.0
im_pad_ratio_val: 0.0
num_workers: 20

augs_key: all

defaults:
  - model: vit

model:
  name: vit
  args:
    arch: vits8
    normalise_features: True
    use_multi_scale: False
    weights: pretrained_dino
    strict_load: True

criterion:
  name: TripletLossWithMiner
  args:
    margin: 0.1
    reduction: mean
    miner:
      name: TripletMinerWithMemory
      args:
        bank_size_in_batches: 20
        tri_expand_k: 5


optimizer:
  name: adam
  args:
    lr: 1e-5

# in terms of 1 gpu
bs_n_cls: 2
bs_n_samples: 8
bs_val: 96

max_epochs: 1000
valid_period: 1

# To use neptune you should also specify NEPTUNE_API_TOKEN in
# .env file or via `export NEPTUNE_API_TOKEN=...`
neptune_project: NEWYORKER/similarity-api


hydra_dir: ${logs_root}/${logs_folder}/

tags:
  - best_1st_epoch

hydra:
  run:
    dir: ${hydra_dir}
  searchpath:
    - file://../../configs
