postfix: metric_learning

seed: 42
precision: 32
accelerator: gpu
devices: 1

dataframe_name: df_fixed_train_fixed_val.csv
dataset_root: /nydl/data/DeepFashion_InShop/
logs_root: /nydl/logs/DeepFashion_InShop/
logs_folder: ${now:%Y-%m-%d_%H-%M-%S}_${postfix}

num_workers: 20
cache_size: 100000

transforms_train:
  name: augs_albu
  args:
    im_size: 224

transforms_val:
  name: norm_resize_albu
  args:
    im_size: 224

sampler:
  name: category_balance
  args:
    n_labels: 13
    n_instances: 6
    n_categories: 3
    resample_labels: True
    weight_categories: True

bs_val: 256
max_epochs: 10000
valid_period: 1

metric_args:
  cmc_top_k: [1]
  map_top_k: [5]

log_only_main_category: True

model:
  name: vit
  args:
    normalise_features: False
    use_multi_scale: False
    weights: vits16_dino
    arch: vits16

criterion:
  name: triplet_with_miner
  args:
    need_logs: True
    margin: null
    reduction: mean
    miner:
      name: hard_triplets
      args:
        norm_required: False

optimizer:
  name: adam
  args:
    lr: 2e-5


scheduling: null  # if you provide scheduler this parameter will be ignored


# To use neptune you should also specify NEPTUNE_API_TOKEN in
# .env file or via `export NEPTUNE_API_TOKEN=...`
neptune_project: NEWYORKER/similarity-api


hydra_dir: ${logs_root}/${logs_folder}/

tags:
  - ${postfix}
  - deepfashion

hydra:
  run:
    dir: ${hydra_dir}
  searchpath:
   - pkg://oml.configs
